/*==================================
This stylesheet is used for demo 6
=================================*/

@font-face {
  font-family: "Geomanist";
  src: url("../../fonts/Geomanist-Black.otf");
}

@font-face {
  font-family: "Geomanist-Light";
  src: url("../../fonts/Geomanist-Light.otf");
}

/*
  FILTER PRESETS
*/

.dsa-darkenFilter {
  filter: brightness(13%) saturate(246%) contrast(57%);
  -webkit-filter: brightness(13%) saturate(246%) contrast(57%);
  -moz-filter: brightness(13%) saturate(246%) contrast(57%);
}

/*
  END FILTER PRESETS
*/



.dsa-pricingContainer {
  background-color: #0b3a4d !important;
}

.dsa-smallTextPrimary {
  font-family: monospace;
  font-size: large;
  color: var(--color-primary);
}

.dsa-pricingContent {
  position: relative;
  z-index: 1;
}

:root{
  --family-display: 'Geomanist', cursive;

  --color-primary: #a8c620;
  --color-primary-hover: #D4AE16;
  --color-primary-hue: #FFFAE8;
  --color-primary-rgb: 255, 209, 25;

  --color-bg-light: #FBFBFB;

  --logo-size-lg: 380px;
  --logo-size-md: 340px;
  --logo-size-sm: 120px;
}

.button.primary{
  color: var(--color-secondary);
}

.section-title .family-display{
  font-size: 70px;
  
}
.andro_hero.style-4 .andro_hero-item-inner h1{
  font-size: 70px;
  
}

.dark-blue-sepiaFilter {
  filter: url('#dark-blue-sepia');
}

.warm-seaFilter {
  filter: url('#warm-sea');
}

.spring-grassFilter {
  filter: url('#spring-grass') brightness(0.8);
}

.andro_gallery.style-2:hover img.spring-grassFilter {
  filter: none;
}

.dsa-galleryItem .andro_gallery-content span {
  background-color: var(--color-primary);
  padding: 3px;
}

.dark-bg {
  background-color: #0b3a4d;
}

.dsa-fontLight {
  font-family: "Geomanist-Light" !important;
}

.dsa-TextCraiceailte {
  font-family: "Geomanist";
  background: #B1E211;
  background: linear-gradient(to right, #B1E211 0%, #16B440 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dsa-opacity70 {
  opacity: 70%;
}

.dsa-opacity100 {
  opacity: 100%;
}

.white-bg, 
.bg-light {
  background-color: #e7ddd2 !important;
}

.dsa-textPrimary {
  color: var(--color-primary);
}

.dsa-textPuce {
  color: #F4A0A0;
  /*background: linear-gradient(to right, #F4A0A0 0%, #F4564A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.dsa-textLilac {
  color: #a0baf4;
}

.dsa-textSandy {
  color: #dfb92e;
}

.dsa-textTeal {
  color: #20B5C6;
  /*background: #20B5C6;
  background: linear-gradient(to right, #20B5C6 0%, #1B98C6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.dsa-Title {
  text-align: center;
  color: var(--color-primary);
}

.dsa-subTitle {
  font-size: 60%;
}

.dsa-SectionTitle {
  max-width: unset;
}

.dsa-fontLarge {
  font-size: 5rem;
  line-height: 5rem;
}

.dsa-fontMedium {
  font-size: 4rem;
  line-height: 4rem;
}

.dsa-fontSmall {
  font-size: 3rem;
  line-height: 3rem;
}

.dsa-fontLight {
  font-family: 'Geomanist-Light' !important;
  font-weight: 100;
}

.dsa-Lighten {
  opacity: 70%;
}

.dsa-mobileNavigation {
  visibility: hidden;
}

@media(max-width: 768px){
  .section-title .family-display{
    font-size: 50px; 
  }
  
  .andro_hero.style-4 .andro_hero-item-inner h1 {
    font-size: 50px;
    font-weight: 400;
    color:#a8c620;
  }
  
  .dsa-mobileNavigation {
    visibility: visible;
  }

  .dsa-desktopNaviation {
    visibility: hidden;
  }
}

@media(max-width: 420px){

  .section-title .family-display{
    font-size: 40px;
  }
  .andro_hero.style-4 .andro_hero-item-inner h1{
  font-size: 40px;
  font-weight: 400;
  color:#a8c620;
  }
}