/*==================================
This stylesheet is used for demo 6
=================================*/

@font-face {
  font-family: "Geomanist";
  src: url("../../fonts/Geomanist-Black.otf");
}

@font-face {
  font-family: "Geomanist-Light";
  src: url("../../fonts/Geomanist-Light.otf");
}

:root{
  --family-display: 'Geomanist', cursive;
  --family-body: 'Geomanist-Light';

  --bs-white: #e7ddd2;
  --color-brand: #a8c620;
  --color-primary: #a8c620;
  --color-primary-darker: #6e821a;
  --color-secondary: #d054ad;
  --color-primary-hover: #a8c620;
  --color-primary-hue: #FFFAE8;
  --color-primary-rgb: 255, 209, 25;
  --color-darkText: #253d47;
  --color-lightText: #e7ddd2;
  --color-body: #e7ddd2;
  --color-headings: #96abae;

  --color-bg-light: #e7ddd2;

  --logo-size-lg: 380px;
  --logo-size-md: 340px;
  --logo-size-sm: 120px;

  --bs-gradient: linear-gradient(to right, #a8c620 0%, #86bc21 100%);
  --bs-dropShadow: drop-shadow(2px 2px 2px #1c2e36);
}

:root(.formFooter) {
  display: hidden !important;
}

/*
  FILTER PRESETS
*/

.dsa-darkenFilter {
  filter: brightness(13%) saturate(246%) contrast(57%);
  -webkit-filter: brightness(13%) saturate(246%) contrast(57%);
  -moz-filter: brightness(13%) saturate(246%) contrast(57%);
}

/*
  END FILTER PRESETS
*/

.dsa-skewedBackground::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #a41d1d;
  transform: skew(2deg, 2deg);
  z-index: -1;
  background: linear-gradient(315deg, #FF0057, #E64A19);
  opacity: 100%;
}

.dsa-skewedBackground::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
    opacity: 100%;
}

.dsa-accordionBody {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.accordion-header .fa-solid {
  padding-right: 1rem;
}

.andro_pricing.style-2 .andro_pricing-price-wrap span {
  font-size: 140px;
}

.dsa-highlightedText {
  color: var(--color-darkText);
}

.dsa-highlightedText {
  background-color: var(--color-primary);
  padding-top: .5rem;
  padding-bottom: .2rem;
}


.dsa-CoverImage img {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.dsa-FullWidth {
  width: 100%;
}

.dsa-CoverImage-Title {
  position: relative;
}

.dsa-CoverImage-Title > div {
  position: absolute;
  bottom: 2rem;
  left: 0;
  background-color: var(--color-darkText);
  padding: 1rem;
}

.dsa-Addresses address a {
  display: block;
  color: var(--color-darkText);
  font-size: 1.4rem;
}

.dsa-Address {
  font-size: 1.6rem;
  color: var(--color-darkText);
}

.dsa-header {
  filter: var(--bs-dropShadow);
}

.dsa-Footer .andro_footer-socials {
  display: block;
}



.dsa-pricingContainer {
  background-color: var(--color-darkText) !important;
}

.dsa-pricingContainer.andro_pricing {
  text-align: left;
  height: 100%;
}

.dsa-pricingContainer .andro_pricing-plan {
  text-transform: none;
  font-size: 2rem;
}

.dsa-pricingContainer.dsa-pricingType {
  width: 100%;
}

.dsa-pricingContainer .andro_pricing-currency {
  color: var(--color-lightText) !important;
}

.dsa-pricingContainer.andro_pricing.style-2 ul li::before {
  color: var(--color-brand);
}

.dsa-pricingContainer.andro_pricing .andro_pricing-plan {
  font-family: var(--family-display);
}

.dsa-pricingContainer .andro_pricing-content {
  color: var(--bs-white);
}

.dsa-smallTextPrimary {
  font-size: 2rem;
  color: var(--color-lightText);
  opacity: 70%;
}

.dsa-smallTextSecondary {
  font-size: 2rem;
  color: var(--color-darkText);
  opacity: 70%;
}

.dsa-pricingContent {
  position: relative;
  z-index: 1;
}


.button.primary{
  color: var(--bs-white);
  background-image: var(--bs-gradient);
}

.section-title .family-display{
  font-size: 70px;
  
}
.andro_hero.style-4 .andro_hero-item-inner h1{
  font-size: 70px;
  
}

.andro_gallery.style-2:hover img.spring-grassFilter {
  filter: none;
}

.dsa-galleryItem .andro_gallery-content span {
  background-color: var(--color-darkText);
  padding: 3px;
}

.dsa-galleryItemTitle {
  color: var(--color-primary);
}

.dsa-galleryItem .andro_gallery {
  height: 100%;
}

.dsa-galleryItem .andro_gallery-content h6 {
  color: var(--color-primary);
  font-family: var(--family-display);
}


.dsa-galleryItem .andro_gallery-content p, 
.dsa-galleryItem .andro_gallery-content i {
  color: var(--bs-white);
}

.dark-bg,
.bg-dark {
  background-color: var(--color-darkText) !important;
}

.bg-dark .dsa-OrdReatha span:nth-child(odd),
.dark-bg .dsa-OrdReatha span:nth-child(odd) {
  color: var(--color-primary);
}

.bg-dark .dsa-OrdReatha span:nth-child(even),
.dark-bg .dsa-OrdReatha span:nth-child(even) {
  color: var(--color-lightText);
}

.bg-light .dsa-OrdReatha span:nth-child(odd),
.light-bg .dsa-OrdReatha span:nth-child(odd) {
  color: var(--color-darkText);
}

.bg-light .dsa-OrdReatha span:nth-child(even),
.light-bg .dsa-OrdReatha span:nth-child(even) {
  color: var(--color-secondary);
}

.dsa-fontLight {
  font-family: "Geomanist-Light" !important;
}

.dsa-TextCraiceailte {
  font-family: "Geomanist";
  color: var(--color-brand);
}

.dsa-opacity70 {
  opacity: 70%;
}

.dsa-opacity100 {
  opacity: 100%;
}

.white-bg, 
.bg-light {
  background-color: var(--bs-white)!important;
}

.dsa-Paragraph {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.white-bg .dsa-Title,
.bg-light .dsa-Title,
.white-bg .dsa-Paragraph,
.bg-light .dsa-Paragraph,
.white-bg .dsa-Address,
.bg-light .dsa-Address {
  color: var(--color-darkText);
}

.dsa-textPrimary {
  color: var(--color-primary);
}

.dsa-textPuce {
  color: var(--color-primary);
  /*background: linear-gradient(to right, #F4A0A0 0%, #F4564A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.dsa-textLilac {
  color: var(--color-primary);
}

.dsa-textSandy {
  color: #16b440;
}

.dsa-textTeal {
  color: #16b440;
}

.dsa-Title {
  text-align: center;
  color: var(--color-lightText);
}

.dsa-ListGroupHeading.list-group-item {
  background-color: transparent;
  border: 0;
}

.dsa-BlockQuote.blockquote {
  border-top: none;
  border-bottom: none;
  font-weight: normal;
}

.dsa-BlockQuote .blockquote-footer {
  margin-top: 0;
}

.dsa-BlockQuote.blockquote::after {
  color: var(--color-darkText);
  top: -1rem;
  right: unset;
  left: -1rem;
  font-weight: 600;
  opacity: 30%;
}

.dsa-SubTitle {
  font-size: 60%;
  display: block;
}

.dsa-SectionTitle {
  max-width: unset;
}

.dsa-fontLarge {
  font-size: 3rem;
  line-height: 3rem;
}

.dsa-fontMedium {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.dsa-fontSmall {
  font-size: 2rem;
  line-height: 2rem;
}

.dsa-fontLight {
  font-family: 'Geomanist-Light' !important;
  font-weight: 100;
}

.dsa-Lighten {
  opacity: 70%;
}

.dsa-mobileNavigation {
  display: none;
}

.dsa-Navigation.andro_header-navigation > ul li a {
  color: var(--color-lightText);
}

.dsa-countdown.andro_event-countdown.style-2 {
  border: 2px solid var(--color-lightText);
}

#map {
  height: 70vh;
}

@media(max-width: 768px){

  .dsa-fontLarge {
    font-size: 2rem;
    line-height: 2rem;
  }

  .dsa-fontMedium {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .dsa-fontSmall {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .section-title .family-display{
    font-size: 50px; 
  }
  
  .andro_hero.style-4 .andro_hero-item-inner h1 {
    font-size: 50px;
    font-weight: 400;
    color:#a8c620;
  }
  
  .dsa-mobileNavigation {
    display: list-item;
  }

  .dsa-desktopNaviation {
    display: none;
  }
}

@media(max-width: 420px) {

  .dsa-CoverImage {
    padding-top: 5rem;
  }

  .dsa-CoverImage-Title > div {
    padding: .5rem;
    position: unset;
  }

  .dsa-CoverImage-Title h2{
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  .dsa-CoverImage-Title p {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .dsa-fontLarge {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .dsa-fontMedium {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }

  .dsa-fontSmall {
    font-size: 1rem;
    line-height: 1rem;
  }

  .section-title .family-display{
    font-size: 40px;
  }
  .andro_hero.style-4 .andro_hero-item-inner h1{
  font-size: 40px;
  font-weight: 400;
  color:#a8c620;
  }
}