<!-- Footer Start -->
<footer class="andro_footer style-6 footer-dark">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-lg-3">
        <div class="widget">
          <h5 class="widget-title">Useful Links</h5>
          <ul>
            <li> <a href="#">Artist &amp; Band Profile</a> </li>
            <li> <a href="#">Best Sale Album 3</a> </li>
            <li> <a href="#">Best Sale Album 2</a> </li>
            <li> <a href="#">Best Sale Album 1</a> </li>
            <li> <a href="#">Musical Instruments</a> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <a href="index.html" class="andro_footer-logo"> <img src="assets/img/logo-6-light.png" alt="logo"> </a>
        <p>
          Lorem ipsu dolor sit amet, ons ipsum dolor,
          consectetur ipsum do lor sitipsum dolor sit
          ame sit amet elit.
        </p>
        <ul class="andro_socials">
          <li> <a class="facebook" href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li> <a class="twitter" href="#"> <i class="fab fa-twitter"></i> </a> </li>
          <li> <a class="instagram" href="#"> <i class="fab fa-instagram"></i> </a> </li>
          <li> <a class="soundcloud" href="#"> <i class="fab fa-soundcloud"></i> </a> </li>
        </ul>
        <p class="copyright-text text-center"> <a href="#">Mimata</a> - Copyright 2022 &copy; - Made with Love</p>

      </div>
      <div class="offset-lg-1 d-none d-lg-block col-lg-4">
        <div class="widget widget-albums">
          <h5 class="widget-title">Top Albums</h5>
          <div class="andro_album">
            <div class="andro_album-img">
              <img src="assets/img/albums/sm/3.jpg" alt="album">
            </div>
            <div class="andro_album-body">
              <div class="andro_album-categories">
                <a href="#">Rock</a>
              </div>
              <h6> <a href="#"> Life is Alone </a> </h6>
              <span> <i class="fas fa-music"></i> 12,331 </span>
            </div>
          </div>
          <div class="andro_album">
            <div class="andro_album-img">
              <img src="assets/img/albums/sm/4.jpg" alt="album">
            </div>
            <div class="andro_album-body">
              <div class="andro_album-categories">
                <a href="#">Jazz</a>, <a href="#">Samba</a>
              </div>
              <h6> <a href="#"> Girlfiend Beauty </a> </h6>
              <span> <i class="fas fa-music"></i> 15,523 </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
<!-- Footer End -->
