<!-- Preloader Start -->

<!-- Preloader End -->

<!-- Header Start -->
<div class="andro_header andro_header-absolute style-2">
  <div class="container andro_header-wrap">

    <ul class="andro_socials">
      <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
      <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
      <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
      <li> <a href="#"> <i class="fab fa-soundcloud"></i> </a> </li>
    </ul>

    <div class="andro_header-logo">
      <a href="index.html"><img src="assets/img/logo-2.png" alt="logo"></a>
    </div>

    <div class="andro_header-contacts">
      <a href="#"> <i class="fal fa-envelope"></i> Subscribe Today </a>
      <a href="#" class="andro_burger-icon mobile-trigger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

  </div>
</div>
<!-- Header End -->
