<!-- Preloader Start -->

<!-- Preloader End -->

<!-- Header Start -->
<div class="andro_header andro_header-absolute style-1">
  <div class="container andro_header-wrap">
    <div class="andro_header-logo">
      <a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
    </div>
    <div class="andro_header-inner">

      <div class="andro_header-navigation">

        <ul>
          <li class="has-megamenu">
            <a href="index.html">Home</a>
            <ul class="andro_megamenu andro_megamenu-cards">
              <li class="nice-scroll">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3">
                      <a href="index.html">
                        <img src="assets/img/megamenu/home-1.jpg" alt="Mimata Home 1">
                        <span> <b class="color-primary">1.</b> Home One</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a href="index.html">
                        <img src="assets/img/megamenu/home-2.jpg" alt="Mimata Home 2">
                        <span><b class="color-primary">2.</b> Home Two</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a href="index.html">
                        <img src="assets/img/megamenu/home-3.jpg" alt="Mimata Home 3">
                        <span><b class="color-primary">3.</b> Home Three</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a href="index.html">
                        <img src="assets/img/megamenu/home-4.jpg" alt="Mimata Home 4">
                        <span><b class="color-primary">4.</b> Home Four</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a href="index.html">
                        <img src="assets/img/megamenu/home-5.jpg" alt="Mimata Home 5">
                        <span><b class="color-primary">5.</b> Home Five</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a href="index.html">
                        <img src="assets/img/megamenu/home-6.jpg" alt="Mimata Home 6">
                        <span><b class="color-primary">6.</b> Home Six</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a class="mb-0" href="index.html">
                        <img src="assets/img/megamenu/home-7.jpg" alt="Mimata Home 7">
                        <span><b class="color-primary">7.</b> Home Seven</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a class="mb-0" href="index.html">
                        <img src="assets/img/megamenu/home-8.jpg" alt="Mimata Home 8">
                        <span><b class="color-primary">8.</b> Home Eight</span>
                      </a>
                    </div>
                    <div class="col-lg-3">
                      <a class="mb-0" href="index.html">
                        <img src="assets/img/megamenu/home-9.jpg" alt="Mimata Home 9">
                        <span><b class="color-primary">9.</b> Home Nine</span>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="has-megamenu">
            <a href="#">Pages</a>
            <ul class="andro_megamenu">
              <li>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <h6 class="andro_megamenu-title">Sample pages</h6>
                      <a href="line-up.html">Line Up</a>
                      <a href="line-up.html">Line Up</a>
                      <a href="line-up.html">Line Up</a>
                    </div>
                    <div class="col-lg-4">
                      <h6 class="andro_megamenu-title">Sample pages</h6>
                      <a href="line-up.html">Line Up</a>
                      <a href="line-up.html">Line Up</a>
                      <a href="line-up.html">Line Up</a>
                    </div>
                    <div class="col-lg-4">
                      <h6 class="andro_megamenu-title">Sample pages</h6>
                      <a href="line-up.html">Line Up</a>
                      <a href="line-up.html">Line Up</a>
                      <a href="line-up.html">Line Up</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a href="index.html">Blog</a>
            <ul>
              <li> <a href="#">Blog Default</a> </li>
              <li> <a href="#">Blog Style 2</a> </li>
              <li> <a href="#">Blog Style 3</a> </li>
            </ul>
          </li>
          <li> <a href="index.html">Contact</a> </li>
          <li> <a href="index.html">Photos</a> </li>
          <li> <a href="index.html">Buy Tickets</a> </li>
        </ul>

        <div class="andro_header-controls">
          <a class="search-trigger" href="#">
            <i class="fal fa-search"></i>
          </a>
          <a class="andro_header-cart" href="cart.html">
            <i class="fal fa-shopping-basket"></i>
            <span class="andro_header-cart-count">3</span>
          </a>
          <a href="#" class="andro_burger-icon mobile-trigger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>

      </div>

      <div class="andro_header-contacts">
        <a href="#"> <i class="fal fa-envelope"></i> Subscribe Today </a>
        <ul class="andro_socials">
          <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
          <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
          <li> <a href="#"> <i class="fab fa-soundcloud"></i> </a> </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<!-- Header End -->

<!-- Search Start -->
<div class="andro_header-search">
  <div class="search-trigger close_btn">
    <svg width="100" height="100" viewBox="0 0 100 100">
      <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058">
      </path>
      <path class="line line2" d="M 20,50 H 80"></path>
      <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942">
      </path>
    </svg>
  </div>
  <form class="andro_header-search-form" method="post">
    <input type="text" placeholder="Search..." value="">
    <button type="submit" class="andro_header-search-btn">
      <i class="fal fa-search"></i>
    </button>
  </form>
</div>
<!-- Search End -->
