<!-- Preloader Start -->

<!-- Preloader End -->

<!-- Header Start -->
<div class="andro_header andro_header-absolute style-8">
  <div class="container andro_header-wrap">
    <div class="andro_header-logo">
      <a href="index.html"><img src="assets/img/logo-8.png" alt="logo"></a>
    </div>

    <div class="andro_header-navigation">

      <ul>
        <li class="has-megamenu">
          <a href="index.html">Home</a>
          <ul class="andro_megamenu andro_megamenu-cards">
            <li class="nice-scroll">
              <div class="container">
                <div class="row">
                  <div class="col-lg-3">
                    <a href="index.html">
                      <img src="assets/img/megamenu/home-1.jpg" alt="Mimata Home 1">
                      <span> <b class="color-primary">1.</b> Home One</span>
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a href="index.html">
                      <img src="assets/img/megamenu/home-2.jpg" alt="Mimata Home 2">
                      <span><b class="color-primary">2.</b> Home Two</span>
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a href="index.html">
                      <img src="assets/img/megamenu/home-3.jpg" alt="Mimata Home 3">
                      <span><b class="color-primary">3.</b> Home Three</span>
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a href="index.html">
                      <img src="assets/img/megamenu/home-4.jpg" alt="Mimata Home 4">
                      <span><b class="color-primary">4.</b> Home Four</span>
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a href="index.html">
                      <img src="assets/img/megamenu/home-5.jpg" alt="Mimata Home 5">
                      <span><b class="color-primary">5.</b> Home Five</span>
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a href="index.html">
                      <img src="assets/img/megamenu/home-6.jpg" alt="Mimata Home 6">
                      <span><b class="color-primary">6.</b> Home Six</span>
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a class="mb-0" href="index.html">
                      <img src="assets/img/megamenu/home-7.jpg" alt="Mimata Home 7">
                      <span><b class="color-primary">7.</b> Home Seven</span>
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a class="mb-0" href="index.html">
                      <img src="assets/img/megamenu/home-8.jpg" alt="Mimata Home 8">
                      <span><b class="color-primary">8.</b> Home Eight</span>
                    </a>
                  </div>
                  <div class="col-lg-3">
                    <a class="mb-0" href="index.html">
                      <img src="assets/img/megamenu/home-9.jpg" alt="Mimata Home 9">
                      <span><b class="color-primary">9.</b> Home Nine</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="has-megamenu">
          <a href="#">Pages</a>
          <ul class="andro_megamenu">
            <li>
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <h6 class="andro_megamenu-title">Sample pages</h6>
                    <a href="line-up.html">Line Up</a>
                    <a href="line-up.html">Line Up</a>
                    <a href="line-up.html">Line Up</a>
                  </div>
                  <div class="col-lg-4">
                    <h6 class="andro_megamenu-title">Sample pages</h6>
                    <a href="line-up.html">Line Up</a>
                    <a href="line-up.html">Line Up</a>
                    <a href="line-up.html">Line Up</a>
                  </div>
                  <div class="col-lg-4">
                    <h6 class="andro_megamenu-title">Sample pages</h6>
                    <a href="line-up.html">Line Up</a>
                    <a href="line-up.html">Line Up</a>
                    <a href="line-up.html">Line Up</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="index.html">Blog</a>
          <ul>
            <li> <a href="#">Blog Default</a> </li>
            <li> <a href="#">Blog Style 2</a> </li>
            <li> <a href="#">Blog Style 3</a> </li>
          </ul>
        </li>
        <li> <a href="index.html">Contact</a> </li>
        <li> <a href="index.html">Photos</a> </li>
        <li> <a href="index.html">Buy Tickets</a> </li>
      </ul>

    </div>

    <div class="andro_header-controls">
      <ul class="andro_socials">
        <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
        <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
        <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
        <li> <a href="#"> <i class="fab fa-soundcloud"></i> </a> </li>
      </ul>
      <a class="andro_header-cart" href="cart.html">
        <i class="fal fa-shopping-basket"></i>
      </a>
      <a href="#" class="andro_burger-icon mobile-trigger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

  </div>
</div>
<!-- Header End -->
